.header {
    background-color: #fff;
    width: 100%;
    overflow-x: hidden;   
    &__title {
        color: maroon;
        text-align: center;
        font-family: 'Pacifico', cursive;
    }
    &__tiles {
        text-align: center;
        padding-bottom: 8px;

        &--item {
            color: maroon;
            padding: 8px;
            text-decoration: none;
            // font-family: 'Pacifico', cursive;
        }
    }
}