.header {
    background-color: #fff;
    height: 10%;
    width: 100%;   
    &__title {
        color: maroon;
        text-align: center;
    }
    &__tiles {
        text-align: center;

        &--item {
            color: maroon;
            padding: 8px;
            text-decoration: none;
        }
    }
}