@import 'variables';

.header {
    background-color: $white-background;
    width: 100%;
    overflow-x: hidden;   
    &__title {
        font-size: 50px;
        color: $header-color;
        text-align: center;
        font-family: $fluid-font;
    }
    &__tiles {
        text-align: center;
        padding-bottom: 8px;

        &--item {
            color: $header-color;
            padding: 8px;
            text-decoration: none;
            &:hover {
                color: $header-color-light;
            }
            &:active {
                color: $header-color-dark;
            }
        }
    }
}