// General
$white-background: #fff;
$fluid-font: 'Pacifico', cursive;

// Header
$header-color: maroon;
$header-color-light: lighten( $header-color, 10% );
$header-color-dark: darken( $header-color, 10% );